<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="departmentApprove">
            <h2><span jhiTranslate="wmteApp.departmentApprove.detail.title">Department Approve</span> {{departmentApprove.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wmteApp.departmentApprove.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="departmentApprove.employeeId">
                        <a [routerLink]="['/employee', departmentApprove.employeeId, 'view']">{{departmentApprove.employeeFullname}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="wmteApp.departmentApprove.department">Department</span></dt>
                <dd>
                    <div *ngIf="departmentApprove.departmentId">
                        <a [routerLink]="['/department', departmentApprove.departmentId, 'view']">{{departmentApprove.departmentName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="wmteApp.departmentApprove.departmentRole">Department Role</span></dt>
                <dd>
                    <div *ngIf="departmentApprove.departmentRoleId">
                        <a [routerLink]="['/department-role', departmentApprove.departmentRoleId, 'view']">{{departmentApprove.departmentRoleName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/department-approve', departmentApprove.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
