<div>
    <h2 id="page-heading">
        <span jhiTranslate="wmteApp.employee.home.title">Employees</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employee" [routerLink]="['/employee/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="wmteApp.employee.home.createLabel">
            Create a new Employee
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="employees?.length === 0">
        <span jhiTranslate="wmteApp.employee.home.notFound">No employees found</span>
    </div>
    <div class="table-responsive" *ngIf="employees?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="wmteApp.employee.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fullname"><span jhiTranslate="wmteApp.employee.fullname">Fullname</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="login"><span jhiTranslate="wmteApp.employee.login">Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="wmteApp.employee.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="personalEmail"><span jhiTranslate="wmteApp.employee.personalEmail">Personal Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phoneNumber"><span jhiTranslate="wmteApp.employee.phoneNumber">Phone Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mobile"><span jhiTranslate="wmteApp.employee.mobile">Mobile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateOfJoining"><span jhiTranslate="wmteApp.employee.dateOfJoining">Date Of Joining</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gender"><span jhiTranslate="wmteApp.employee.gender">Gender</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="wmteApp.employee.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employeeNumber"><span jhiTranslate="wmteApp.employee.employeeNumber">Employee Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateOfBirth"><span jhiTranslate="wmteApp.employee.dateOfBirth">Date Of Birth</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="note"><span jhiTranslate="wmteApp.employee.note">Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="wmteApp.employee.userId">User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="managerFullname"><span jhiTranslate="wmteApp.employee.manager">Manager</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees ;trackBy: trackId">
                <td><a [routerLink]="['/employee', employee.id, 'view' ]">{{employee.id}}</a></td>
                <td>{{employee.code}}</td>
                <td>{{employee.fullname}}</td>
                <td>{{employee.login}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.personalEmail}}</td>
                <td>{{employee.phoneNumber}}</td>
                <td>{{employee.mobile}}</td>
                <td>{{employee.dateOfJoining | date:'medium'}}</td>
                <td jhiTranslate="{{'wmteApp.Gender.' + employee.gender}}">{{employee.gender}}</td>
                <td jhiTranslate="{{'wmteApp.EmployeeStatus.' + employee.status}}">{{employee.status}}</td>
                <td>{{employee.employeeNumber}}</td>
                <td>{{employee.dateOfBirth | date:'medium'}}</td>
                <td>{{employee.note}}</td>
                <td>{{employee.userId}}</td>
                <td>
                    <div *ngIf="employee.managerId">
                        <a [routerLink]="['/employee', employee.managerId , 'view' ]" >{{employee.managerFullname}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/employee', employee.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/employee', employee.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/employee', { outlets: { popup: employee.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="employees?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
