<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employeeHasRole">
            <h2><span jhiTranslate="wmteApp.employeeHasRole.detail.title">Employee Has Role</span> {{employeeHasRole.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wmteApp.employeeHasRole.name">Name</span></dt>
                <dd>
                    <span>{{employeeHasRole.name}}</span>
                </dd>
                <dt><span jhiTranslate="wmteApp.employeeHasRole.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="employeeHasRole.employeeId">
                        <a [routerLink]="['/employee', employeeHasRole.employeeId, 'view']">{{employeeHasRole.employeeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee-has-role', employeeHasRole.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
