<div>
    <h2 id="page-heading">
        <span jhiTranslate="wmteApp.employeeHasRole.home.title">Employee Has Roles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employee-has-role" [routerLink]="['/employee-has-role/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="wmteApp.employeeHasRole.home.createLabel">
            Create a new Employee Has Role
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="employeeHasRoles?.length === 0">
        <span jhiTranslate="wmteApp.employeeHasRole.home.notFound">No employeeHasRoles found</span>
    </div>
    <div class="table-responsive" *ngIf="employeeHasRoles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="wmteApp.employeeHasRole.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employeeId"><span jhiTranslate="wmteApp.employeeHasRole.employee">Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employeeHasRole of employeeHasRoles ;trackBy: trackId">
                <td><a [routerLink]="['/employee-has-role', employeeHasRole.id, 'view' ]">{{employeeHasRole.id}}</a></td>
                <td>{{employeeHasRole.name}}</td>
                <td>
                    <div *ngIf="employeeHasRole.employeeId">
                        <a [routerLink]="['/employee', employeeHasRole.employeeId , 'view' ]" >{{employeeHasRole.employeeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/employee-has-role', employeeHasRole.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/employee-has-role', employeeHasRole.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/employee-has-role', { outlets: { popup: employeeHasRole.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="employeeHasRoles?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
