<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-expense-approvers-heading" jhiTranslate="wmteApp.expenseApprovers.home.createOrEditLabel">Create or edit a Expense Approvers</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wmteApp.expenseApprovers.employee" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" formControlName="employeeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.fullname}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wmteApp.expenseApprovers.department" for="field_department">Department</label>
                    <select class="form-control" id="field_department" name="department" formControlName="departmentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departmentOption.id" *ngFor="let departmentOption of departments; trackBy: trackDepartmentById">{{departmentOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wmteApp.expenseApprovers.departmentRole" for="field_departmentRole">Department Role</label>
                    <select class="form-control" id="field_departmentRole" name="departmentRole" formControlName="departmentRoleId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departmentRoleOption.id" *ngFor="let departmentRoleOption of departmentroles; trackBy: trackDepartmentRoleById">{{departmentRoleOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
